/* line 2, ../scss/kifiform-rating.scss */
.field--type-kifiform-rating .rating-box {
  height: 1.3rem;
  border: 1px solid navy;
}
/* line 6, ../scss/kifiform-rating.scss */
.field--type-kifiform-rating .rating-fill {
  height: 100%;
  background-color: navy;
}
